<div class="container">
<p id="notice"><%= notice %></p>


  <%= form_tag("gnvls/", method: "get",class: "srch_frm") do %>
  <label for="q">Поиск по наименованию: </label>
  <input id="gnvls" name="gnvls_name" type="search"  />
    <div id="divId" style="display: none">

    </div>
    <% end %>
<!--</form> -->
<br>


<div >
   <table class="table table-striped" id="container_head">
   <table class="table table-striped" id="container_body">
</div>

<table class="table table-striped  fixtable">
  <thead class="fixhead">
    <tr>
      <th>МНН</th>
      <th>Наименование</th>
      <th>Лек.форма</th>
      <th>Изготовитель</th>
      <th>Кол.упак</th>
      <th>Предельная цена без НДС</th>
      <th>Цена указана для первич. упаковки</th>
      <th>№ РУ</th>
      <th>"Дата регистрации цены(№ решения)"</th>
      <th>Штрих-код (EAN13)</th>
      <th>АТХ</th>
      <th>Уровень наценки, % Опт</th>
      <th>Предельная оптовая цена, руб. с НДС</th>
      <th>Уровень наценки, % Розн</th>
      <th>Предельная розничная цена, руб. с НДС</th>
    </tr>
</thead>

  <tbody class="fixbody">
    <% @gnvls.each do |gnvl| %>
      <tr  class='clickable-row' data-ref="<%= gnvl_path(gnvl) %>">
        <td><%= gnvl.mnn %></td>
        <td><%= gnvl.name %></td>
        <td><%= gnvl.lekform %></td>
        <td><%= gnvl.owner %></td>
        <td><%= gnvl.qntpack %></td>
        <td><%= gnvl.prc_wo_nds %></td>
        <td><%= gnvl.prc_first_pack %></td>
        <td><%= gnvl.n_py %></td>
        <td><%= gnvl.date_reg %></td>
        <td><%= gnvl.ean13 %></td>
        <td><%= gnvl.atx %></td>
        <td><%= gnvl.level_nac_opt %></td>
        <td><%= gnvl.pred_opt_price %></td>
        <td><%= gnvl.level_nac_rozn %></td>
        <td><%= gnvl.pred_rozn_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



</div>
