<div class="container">
<p id="notice"><%= notice %></p>
<span class="noprint">
  <input type="button" value="Печать" onclick="print()"></input>
</span>
<p>
  <strong>МНН:</strong>
  <%= @gnvl.mnn %>
</p>

<p>
  <strong>Наименование:</strong>
  <%= @gnvl.name %>
</p>

<p>
  <strong>Лек.форма:</strong>
  <%= @gnvl.lekform %>
</p>

<p>
  <strong>Изготовитель:</strong>
  <%= @gnvl.owner %>
</p>

<p>
  <strong>Кол.упак:</strong>
  <%= @gnvl.qntpack %>
</p>

<p>
  <strong>Предельная цена без НДС:</strong>
  <%= @gnvl.prc_wo_nds %>
</p>

<p>
  <strong>Цена указана для первич. упаковки:</strong>
  <%= @gnvl.prc_first_pack %>
</p>

<p>
  <strong>№ РУ:</strong>
  <%= @gnvl.n_py %>
</p>

<p>
  <strong>Дата регистрации цены(№ решения):</strong>
  <%= @gnvl.date_reg %>
</p>

<p>
  <strong>Штрих-код (EAN13):</strong>
  <%= @gnvl.ean13 %>
</p>

<p>
  <strong>АТХ:</strong>
  <%= @gnvl.atx %>
</p>

<p>
  <strong>Уровень наценки, % Опт:</strong>
  <%= @gnvl.level_nac_opt %>
</p>

<p>
  <strong>Предельная оптовая цена, руб. с НДС:</strong>
  <%= @gnvl.pred_opt_price %>
</p>

<p>
  <strong>Уровень наценки, % Розн:</strong>
  <%= @gnvl.level_nac_rozn %>
</p>

<p>
  <strong>Предельная розничная цена, руб. с НДС:</strong>
  <%= @gnvl.pred_rozn_price %>
</p>


</div>
