<p id="notice"><%= notice %></p>

<p>
  <strong>Mnn:</strong>
  <%= @gnvl.mnn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gnvl.name %>
</p>

<p>
  <strong>Lekform:</strong>
  <%= @gnvl.lekform %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @gnvl.owner %>
</p>

<p>
  <strong>Qntpack:</strong>
  <%= @gnvl.qntpack %>
</p>

<p>
  <strong>Prc wo nds:</strong>
  <%= @gnvl.prc_wo_nds %>
</p>

<p>
  <strong>Prc first pack:</strong>
  <%= @gnvl.prc_first_pack %>
</p>

<p>
  <strong>N py:</strong>
  <%= @gnvl.n_py %>
</p>

<p>
  <strong>Date reg:</strong>
  <%= @gnvl.date_reg %>
</p>

<p>
  <strong>Ean13:</strong>
  <%= @gnvl.ean13 %>
</p>

<p>
  <strong>Atx:</strong>
  <%= @gnvl.atx %>
</p>

<p>
  <strong>Level nac opt:</strong>
  <%= @gnvl.level_nac_opt %>
</p>

<p>
  <strong>Pred opt price:</strong>
  <%= @gnvl.pred_opt_price %>
</p>

<p>
  <strong>Level nac rozn:</strong>
  <%= @gnvl.level_nac_rozn %>
</p>

<p>
  <strong>Pred rozn price:</strong>
  <%= @gnvl.pred_rozn_price %>
</p>

<%= link_to 'Edit', edit_gnvl_path(@gnvl) %> |
<%= link_to 'Back', gnvls_path %>
